.searchbar{

 margin-left: 40%;
 margin-top:  60px;
 width: 200px;
 height: 5px;
 bottom: 10px;
 z-index: 999;
position: fixed;
}
.search-div .search-img{
    width:10px;
    height: 10px;
    z-index: 999;
}